* {
    background-color: gray;
    font-size: 30px;
}

.myDiv {
    border: 3px solid black;
    text-align: center;
    width: 700px;
    margin: auto;
}

p {
    color: rgb(145, 21, 21);
    background-color: white;
}

button:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}