*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: lightblue;
}

button{
    padding: 40px;
    font-size: 20px;
}

.lado{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.start{
    background: green;
}

.stop{
    background: orange;
}